html,body{
    overflow-x: hidden;
}
.header-background{
    background-color: #264653;
    height: 700px;
    width: 100%;
}
.header-paragraph{
    color: #E0E0E0;
    font-weight: 300;
    /* width: 300px; */
    
   
}
.header-title{
    font-weight: 600;
    font-size: 44px;
    color: white;
}

.custom-button{
    width: 168px;
    height: 44px;
    background-color: #E76F51;
    border-radius: 5px;
    color: white;
}
.custom-text-color{
    color: #E76F51;
    font-weight: 600;
    font-size: 14px;
}
.custom-feature-text{
    font-weight: 600;
    font-size: 40px;
    color: #000000;
}
.custom-gray{
    filter: grayscale(1);
}
.client-says{
    font-weight: 600;
    font-size: 48px;
}
.client-color{
    color: #E76F51;
}
.card-image{
    height: 150px;
    width: 150px;
}
.fa-star.star-color{
    color:#E77C40 ;
}
.star-border{
    color: #E77C40;
}
.client-review{
    font-size: 16px;
    color: #6C6C6C;
}
.client-name{
    font-weight: 600;
    font-size: 14px;
    color: #23A6F0;
}
.client-job{
    font-weight: 600;
    font-size: 14px;
    color: #252B42;
}
.faq-question{
    font-weight: 500;
    font-size: 20px;
    color: #383838;
    background-color: white;
}
.faq-answer{
    font-size: 16px;
    color: #7E848C;
}